# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rodri\Google Drive\Classroom\Cálculo Diferencial e Integral I UNAM\Blog\Analistas-Rifados\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
